<nav
  style="z-index: 1000"
  class="navbar navbar-expand-lg navbar-dark bg-dark position-sticky top-0 start-0 end-0"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="/admin/dashboard">Admin Dashboard</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link <%= currentPage === 'dashboard' ? 'active' : '' %>"
            aria-current="page"
            href="/dashboard"
            >Dashboard</a
          >
        </li>

        <li class="nav-item">
          <a
            class="nav-link <%= currentPage === 'users' ? 'active' : '' %>"
            href="/users"
            >Users</a
          >
        </li>

        <li class="nav-item">
          <a
            class="nav-link <%= currentPage === 'videos' ? 'active' : '' %>"
            href="/videos"
            >Videos</a
          >
        </li>
      </ul>
      <form class="d-flex" method="post" action="/logout">
        <button id="logoutButton" class="btn btn-outline-danger">Logout</button>
      </form>
    </div>
  </div>
</nav>

<script defer>
  document.addEventListener("DOMContentLoaded", function () {
    const logoutButton = document.getElementById("logoutButton");

    if (logoutButton) {
      logoutButton.addEventListener("click", async function (event) {
        event.preventDefault();

        if (confirm("Are you sure you want to log out?")) {
          try {
            const response = await fetch("http://localhost:8080/logout", {
              method: "POST",
              credentials: "include",
              headers: {
                "Content-Type": "application/json",
              },
            });

            if (response.ok) {
              window.location.href = "/";
            } else {
              alert("Logout failed. Please try again.");
            }
          } catch (error) {
            console.error("Error logging out:", error);
            alert("An error occurred. Please try again.");
          }
        }
      });
    }
  });
</script>
