@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  html {
    @font-face {
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: url(/fonts/Poppins.ttf) format('ttf');
    }

    font-family: Poppins,
    system-ui,
    sans-serif;
  }

  body {
    @apply bg-background text-foreground min-h-screen overflow-hidden scroll-smooth;
  }


  .videoBtn {
    @apply transition-opacity opacity-85 hover:opacity-100 cursor-pointer bg-none border-none text-inherit p-0 size-8 text-[1.1rem];
  }

  ::-webkit-scrollbar {
    width: 0;
  }

  ::-webkit-scrollbar-thumb {
    background: rgba(136, 136, 136, 0.281);
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }


  .typingIndicatorContainer {
    display: flex;
    flex: none;
    align-items: flex-end;
    margin: 2px 0;
  }

  .typingIndicatorBubble {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 52px;
    height: 40px;
    margin: 0px 8px;
    background-color: #f0f1f1;
    border-radius: 12px;
  }

  .typingIndicatorBubbleDot {
    width: 4px;
    height: 4px;
    margin-right: 4px;
    background-color: #57585a;
    border-radius: 50%;
    animation-name: bounce;
    animation-duration: 1.3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  .typingIndicatorBubbleDot:first-of-type {
    margin: 0px 4px;
  }

  .typingIndicatorBubbleDot:nth-of-type(2) {
    animation-delay: 0.15s;
  }

  .typingIndicatorBubbleDot:nth-of-type(3) {
    animation-delay: 0.3s;
  }

  @keyframes bounce {

    0%,
    60%,
    100% {
      transform: translateY(0);
    }

    30% {
      transform: translateY(-4px);
    }
  }
}